<link rel="stylesheet" href="style/bootstrap.min.css">
<link rel="stylesheet" href="style/reg.css">
<link rel="stylesheet" href="style/animate.css">
<script src="js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/registration.js" type="text/javascript"></script>
<script src="js/wow.min.js"></script>
<meta charset="UTF-8">
<title>Registration</title>

<body>
    <div class="container wow zoomIn">
        <form class="form-horizontal" action="" method="post" >
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Login</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control inputs" id="login" placeholder="Login" name="login">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control inputs" id="mail" placeholder="Email" name="mail">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control inputs" id="password" placeholder="Password" name="password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control inputs" id="password2" placeholder="Password again" name="password2">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    
                    <span id="span" class="label label-info"></span>
                </div>
            </div>

        </form>
        <div class="col-md-12 text-center">
        <button id="sub" class="btn btn-default">Registration</button>
        </div>
    </div>
</body>

<script>
    new WOW().init();
</script>

