
<link rel="stylesheet" href="style/bootstrap.min.css">
<link rel="stylesheet" href="style/sign_up.css">
<link rel="stylesheet" href="style/animate.css">
<script src="js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/sign_up.js"></script>
<script src="js/wow.min.js"></script>
<meta charset="UTF-8">
<title>Document</title>


<body>
    <div class="container wow zoomIn">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Login</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control inputs" id="login" placeholder="Login" name="login">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control inputs" id="password" placeholder="Password" name="password">
                </div>
                </form>
            </div>
            <div class="col-md-12 text-center">
            <div class="form-group">
                
                    <button id="signUp" class="btn btn-default" name="do_login">Sign in</button>
                    <a href="registration.html"><button class="btn btn-default" name = "">Registration</button></a>
                
                 
            </div>
            <span id="span" class="label label-info"></span>
            </div>
        <span id="span" class="label label-info"></span>
    </div>
</body>

<script>
    new WOW().init();
</script>
