body{
        background-image: url(../images/background.png);
    }
.inputs{
 width: 240px;   
}
form{
margin-top: 150px;
margin-left: 350px;;
}
label{
    font-family: averia;
    color:  #667ae6;
    font-size: 150%;
}

#span{
	font-size: 23px;
}