body{
        background-image: url(../images/background.png);
    }
.inputs{
 width: 240px;   
}
form{
margin-top: 200px;
margin-left: 280px;;
}
label{
    font-family: averia;
    color:  #667ae6;
    font-size: 180%;
}
.reg-btn{
     font-family: averia;
    font-size: 180%;
    color: #667ae6; 
    margin: auto;
}
#span{
	font-size: 23px;
}