@font-face {
    font-family: averia;
    src: url(fonts/Averia-Bolditalic.ttf);   
}
body {
	  background-image: url(../images/background.png);
    font-family: averia-bolditalic;
}
tr{
	cursor: default;

}
.headtext{
	font-size: 40px;
	color: #FFB8AA;
}